<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    <title>{{ pageTitle }}</title>
    <link href="/assets/favicon.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    <meta name="description" content="{{ pageDescription }}">

    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
</head>

<body>
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>
</body>

</html>